

@{
    ViewData["Title"] = "Index";
}

<h1>Home page</h1>

<img src="~/images/test.jpg" class="rounded-circle" height="40" width="40" asp-append-version="true" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
